@font-face {
    font-family: 'globerthin_free';
    src: url('../typekit/glober_thin/globerthinfree-webfont.eot');
    src: url('../typekit/glober_thin/globerthinfree-webfont.eot?#iefix') format('embedded-opentype'),
    url('../typekit/glober_thin/globerthinfree-webfont.woff2') format('woff2'),
    url('../typekit/glober_thin/globerthinfree-webfont.woff') format('woff'),
    url('../typekit/glober_thin/globerthinfree-webfont.ttf') format('truetype'),
    url('../typekit/glober_thin/globerthinfree-webfont.svg#globerthin_free') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adamant_sans_bgregular';
    src: url('../typekit/adamant_sans_bg/adamantsansbg-webfont.eot');
    src: url('../typekit/adamant_sans_bg/adamantsansbg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../typekit/adamant_sans_bg/adamantsansbg-webfont.woff2') format('woff2'),
    url('../typekit/adamant_sans_bg/adamantsansbg-webfont.woff') format('woff'),
    url('../typekit/adamant_sans_bg/adamantsansbg-webfont.ttf') format('truetype'),
    url('../typekit/adamant_sans_bg/adamantsansbg-webfont.svg#adamant_sans_bgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* mixins */

@red: #df583e;
@yellow: #f8ea17;
@yellow-light: #faf9ed;
@xdark-grey: #63635e;
@dark-grey: #c5c5bb;
@grey: #fafaf9;
@orange: #e57536;

.skew (@deg) {
    transform: skew(@deg);
    -webkit-transform:       skew(@deg);
    -moz-transform: 	 skew(@deg);
    -ms-transform: 		 skew(@deg);
    -o-transform: 		 skew(@deg);
}

.voffset (@amount) {
    margin: @amount auto;
}

.font-adamant () {
    font-family: 'adamant_sans_bgregular';
}

.font-glober() {
    font-family: 'globerthin_free';
}

/* helper classes */
.red {
    color: @red;
}

.yellow {
    color: @yellow;
}

.yellow-light {
    color: @yellow-light;
}

.dark-grey {
    color: @dark-grey;
}

.grey {
    color: @grey;
}

.red-bg {
    background:@red;
}
.orange-bg {
    background:@orange;
}

.yellow-bg {
    background:@yellow;
}

.yellow-light-bg {
    background:@yellow-light;
}

.dark-grey-bg {
    background:@dark-grey;
}

.grey-bg {
    background:@grey;
}

.skew-line {
    width: 2px;
    height: 1em;
    margin: 0 0.3em;
    display: inline-block;
    .skew (-22deg);
    &.x2 {
        height: 2em;
    }
}


/* app-wide classes */
body{
  .font-glober(); //TODO uncomment later
    font-weight: 700;
    font-size: 16px;
    color: #30302e;
    padding-top: 45px;
}

a {
    text-decoration: none;
    color: @xdark-grey;
    outline: none;

    &:hover {
        color: @dark-grey;
        text-decoration: none;
    }
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.logo {
    margin-right: 1em;
}

.header-phone {
    .font-adamant(); //TODO uncomment later
    font-size: 1.1em;
}

.header-cart {
    .cart-count {
        line-height: 1.5em;
        font-size: 1.5em;
        display: inline-block;
        padding-left: 20px;
        background: url("../images/cart.png") no-repeat left 0.8em;
    }

    .skew-line {
        margin: 0 0.5em;
        font-size: 1.2em;
    }
}

.ya-separator {
    background: @dark-grey;
    height: 1px;
    overflow: visible;
    span {
        display: block;
        height: 20px;
        margin: -9px auto 0 auto;
        width: 38px;
        position: relative;
        background: url('../images/delimiter.gif') no-repeat center center;
    }

    &.offset2 {
        .voffset(2em);
    }
}

.col-md-4 {
    &.vmiddle {
       margin-bottom: auto;
       margin-top: auto;
    }
    margin-top: auto;
    .product-item {
        text-align: center;
        height: 21em;
        overflow: hidden;

        a {
            color: @xdark-grey;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }

        img {
            display: inline-block;
            max-height: 18em;
        }
        .name {
            text-transform: uppercase;
            display: inline-block;
            text-align: left;
            em {
                text-transform: none;
                font-weight: 100;
                font-style: normal;
                font-size: 0.8em;

                white-space: nowrap;
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 10em;
                font-weight: bold;
            }
        }
        .price {
            font-size: 1.5em;
            .currency {
                font-size: 0.5em;
                padding: 0.2em;
            }
        }

        .extra {
            display: none;
            padding: 0 1em;
            .properties {
                padding-left: 1em;
                li {
                    list-style-type: none;
                    font-size: 0.8em;
                    padding: 0.2em;
                    white-space: nowrap;
                    text-align: left;
                }
            }
            .btn-primary {
                color: #fff;
                font-weight: bold;
            }
            [class*="col-"] {
                float: none;
                display: table-cell;
                vertical-align: top;
                @media (max-width: 992px) {
                    display: block;
                }
            }

            .price-large {
                vertical-align: bottom;
                .price-normal {
                    color: @red;
                    white-space: nowrap;
                    font-size: 1.7em;
                    @media (max-width: 767px) {
                        font-size: 1em;
                    }
                    @media (min-width: 768px) and (max-width: 1199px) {
                        font-size: 1.5em;
                    }
                }
                .price-special {
                    text-decoration: line-through;
                    color: @dark-grey;
                    font-size: 1.4em;
                }
            }
       }

        &:hover, &.expanded {
            height: 31em;
            margin-bottom: -10em;
            z-index: 98;
            position: relative;
            background: #fff;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
            .extra {
                display: table;
            }
        }
        &.noprops:hover, &.noprops.expanded {
            height: 27em;
            margin-bottom: -6em;
        }
    }
}

.row {
    &.hits {
        margin-top: 3em;
    }
    display: flex;
    width: 100%;

    &.footer {
        font-size: 0.7em;
        .voffset(2em);
    }
}

#carousel-container {
    max-height: 340px;
    overflow: hidden;
    padding-bottom: 2em;
    box-sizing: content-box;
}


#popup {
    background: #fff;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 999;

    #popup-content {
        height: 100%;
    }

    @media (max-width: 768px) {
        height: auto;
    }

    .loader {
        margin: 35% auto;
        display: block;
    }
}

#close-popup {
    width: 150px;
    height: 150px;
    background: transparent url('../images/close.png') no-repeat center center;
    display: block;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    right: 0;

}

.product-info {
    height: 100%;
    .description {
        padding: 3em;
        min-height: 10em;
        font-weight: normal;
        .name {
            font-size: 5em;
            text-transform: uppercase;
            word-break: break-all;
            width: 100%;
        }
        .price {
            .font-adamant();
            font-weight: bold;
            font-size: 4em;
            .currency {
                font-size: 0.5em;
                padding: 0 0.3em;
            }
        }

        .properties {
            tr td:first-child {
                text-align: right;
                padding: 5px;
                font-weight: bold;
                font-style: italic;
                color: @xdark-grey;
            }
            tr td:last-child {
                text-align: left;
                padding: 5px;
                color: @red;
                font-weight: bold;
                font-style: italic;
            }
        }

        .description-content {
            padding-top: 2em;
        }
    }
}

.btn {
    .font-glober();
}

.error-info {
    background: #fff url('../images/404.jpg') no-repeat -145px center;
    .description {
        padding: 5em 7em;
        min-height: 10em;
        font-weight: normal;
        .message_title {
            font-size: 4em;
            text-transform: uppercase;
            margin: 0 0 1em 0;
        }
        .message {
            p {
                color: #fff;
                margin-bottom: 2em;

                a {
                    color: @yellow;
                }
            }
        }

        @media (min-width: 768px) and (max-width: 992px) {
            padding: 2em 3em;
        }
    }
}

.category-title {
    font-family: Georgia, Verdana, Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 5em;
    position: relative;
    margin: 2em 0;
    .category-close {
        display: inline-block;
        width: 44px;
        height: 44px;
        background: transparent url('../images/close_category.png') no-repeat center center;
        position: relative;
        text-indent: -9999px;
        margin: 0 0 0 30px;
        top: -30px;
    }
}

#pager {
    display: none;
}

#infscr-loading {
    text-align: center;
}

.order-header {
    padding-top: 5em;
}

.order-content table {
    width: 100%;
}

.order-content {
    padding: 2em 0;
    table {

        tr{
            &.last {
                td {
                    .font-adamant();
                    border-bottom: 0;
                    font-size: 1.2em;
                }
            }
        }
        td {
            padding: 0.5em;
            border-bottom: 1px solid #e5e5e5;
            text-align: left;
            &.price {
                em {
                    font-weight: normal;
                    font-style: normal;
                }
                span {
                    padding: 5px;
                }
            }
        }
    }

}

.order-form {
    width: 100%;
    input[type="text"],
    input[type="email"],
    textarea {
        width: 95%;
        margin: 1em;
        line-height: 2em;
        padding: 0.5em;
        border: 1px dotted @dark-grey;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .error {
        display: block;
        width: 95%;
        color: @red;
        margin: 0 1.5em 1em 1.5em;
    }
}


// OWL CAROUSEL BELOW
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
    z-index: 0;
}
.owl-carousel .owl-animated-out {
    z-index: 1;
}
.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
    margin-bottom: 1em;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}
.owl-carousel.owl-hidden {
    opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
    display: none;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.owl-carousel.owl-rtl {
    direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
    float: right;
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}
.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}
.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
}

//product page

#product-image-slider {
    overflow: hidden;
    position: relative;

    li {
        text-align: center;
    }

    #scroller {
        position: absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        width: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: left;

            li {
                padding: 0 10px;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}