@font-face {
  font-family: 'globerthin_free';
  src: url('../typekit/glober_thin/glober-thin-free.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'adamant_sans_bgregular';
  src: url('../typekit/adamant_sans_bg/adamantsansbg-webfont.eot');
  src: url('../typekit/adamant_sans_bg/adamantsansbg-webfont.eot?#iefix') format('embedded-opentype'), url('../typekit/adamant_sans_bg/adamantsansbg-webfont.woff2') format('woff2'), url('../typekit/adamant_sans_bg/adamantsansbg-webfont.woff') format('woff'), url('../typekit/adamant_sans_bg/adamantsansbg-webfont.ttf') format('truetype'), url('../typekit/adamant_sans_bg/adamantsansbg-webfont.svg#adamant_sans_bgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* mixins */
/* helper classes */
.red {
  color: #df583e;
}
.yellow {
  color: #f8ea17;
}
.yellow-light {
  color: #faf9ed;
}
.dark-grey {
  color: #c5c5bb;
}
.grey {
  color: #fafaf9;
}
.red-bg {
  background: #df583e;
}
.orange-bg {
  background: #e57536;
}
.yellow-bg {
  background: #f8ea17;
}
.yellow-light-bg {
  background: #faf9ed;
}
.dark-grey-bg {
  background: #c5c5bb;
}
.grey-bg {
  background: #fafaf9;
}
.skew-line {
  width: 2px;
  height: 1em;
  margin: 0 0.3em;
  display: inline-block;
  transform: skew(-22deg);
  -webkit-transform: skew(-22deg);
  -moz-transform: skew(-22deg);
  -ms-transform: skew(-22deg);
  -o-transform: skew(-22deg);
}
.skew-line.x2 {
  height: 2em;
}
/* app-wide classes */
body {
  font-family: 'globerthin_free';
  font-weight: 700;
  font-size: 16px;
  color: #30302e;
  padding-top: 45px;
  overflow-x: hidden !important;
}
a {
  text-decoration: none;
  color: #63635e;
  outline: none;
}
a:hover {
  color: #c5c5bb;
  text-decoration: none;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.logo {
  margin-right: 1em;
}
.header-phone {
  font-family: 'adamant_sans_bgregular';
  font-size: 1.1em;
}
.header-cart .cart-count {
  line-height: 1.5em;
  font-size: 1.5em;
  display: inline-block;
  padding-left: 20px;
  background: url("../images/cart.png") no-repeat left 0.8em;
}
.header-cart .skew-line {
  margin: 0 0.5em;
  font-size: 1.2em;
}
.ya-separator {
  background: #c5c5bb;
  height: 1px;
  overflow: visible;
}
.ya-separator span {
  display: block;
  height: 20px;
  margin: -9px auto 0 auto;
  width: 38px;
  position: relative;
  background: url('../images/delimiter.gif') no-repeat center center;
}
.ya-separator.offset2 {
  margin: 2em auto;
}
.col-md-4 {
  margin-top: auto;
}
.col-md-4.vmiddle {
  margin-bottom: auto;
  margin-top: auto;
}
.col-md-4 .product-item {
  text-align: center;
  height: 21em;
  overflow: hidden;
}
.col-md-4 .product-item a {
  color: #63635e;
  text-decoration: none;
}
.col-md-4 .product-item a:hover {
  text-decoration: none;
}
.col-md-4 .product-item img {
  display: inline-block;
  max-height: 18em;
}
.col-md-4 .product-item .name {
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
}
.col-md-4 .product-item .name em {
  text-transform: none;
  font-weight: 100;
  font-style: normal;
  font-size: 0.8em;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 10em;
  font-weight: bold;
}
.product-item {
  min-width: 235px;
}
.col-md-4 .product-item .price {
  font-size: 1.5em;
}
.col-md-4 .product-item .price .currency {
  font-size: 0.5em;
  padding: 0.2em;
}
.col-md-4 .product-item .extra {
  display: none;
  padding: 0 1em;
}
.col-md-4 .product-item .extra .properties {
  padding-left: 1em;
}
.col-md-4 .product-item .extra .properties li {
  list-style-type: none;
  font-size: 0.8em;
  padding: 0.2em;
  white-space: nowrap;
  text-align: left;
}
.col-md-4 .product-item .extra .btn-primary {
  color: #fff;
  font-weight: bold;
}
.col-md-4 .product-item .extra [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 992px) {
  .col-md-4 .product-item .extra [class*="col-"] {
    display: block;
  }
}
.col-md-4 .product-item .extra .price-large {
  vertical-align: bottom;
}
.col-md-4 .product-item .extra .price-large .price-normal {
  color: #df583e;
  white-space: nowrap;
  font-size: 1.7em;
}
@media (max-width: 767px) {
  .col-md-4 .product-item .extra .price-large .price-normal {
    font-size: 1em;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .col-md-4 .product-item .extra .price-large .price-normal {
    font-size: 1.5em;
  }
}
.col-md-4 .product-item .extra .price-large .price-special {
  text-decoration: line-through;
  color: #c5c5bb;
  font-size: 1.4em;
}
.col-md-4 .product-item:hover,
.col-md-4 .product-item.expanded {
  height: auto;
  padding-bottom: 1em;
  margin-bottom: -15em;
  z-index: 98;
  position: relative;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.col-md-4 .product-item:hover .extra,
.col-md-4 .product-item.expanded .extra {
  display: table;
}
.col-md-4 .product-item.noprops:hover,
.col-md-4 .product-item.noprops.expanded {
  height: 27em;
  margin-bottom: -6em;
}
.row {
  width: 100%;
}
.row.hits {
  margin-top: 3em;
}
.row.footer {
  font-size: 0.7em;
  margin: 2em auto;
}
#carousel-container {
  max-height: 340px;
  overflow: hidden;
  padding-bottom: 2em;
  box-sizing: content-box;
}
#popup {
  background: #fff;
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 999;
  overflow: visible;
}
#popup #popup-content {
  height: 100%;
}
#popup .loader {
  margin: 35% auto;
  display: block;
}
#close-popup {
  width: 150px;
  height: 150px;
  background: transparent url('../images/close.png') no-repeat center center;
  display: block;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  right: 0;
}
.product-info {
  height: 10%;
}
.product-info .description {
  padding: 3em;
  min-height: 10em;
  font-weight: normal;
  padding-bottom: 80px;
}
.product-info .description .name {
  font-size: 5em;
  text-transform: uppercase;
  word-break: break-all;
  width: 100%;
}
.product-info .description .price {
  font-family: 'adamant_sans_bgregular';
  font-weight: bold;
  font-size: 4em;
}
.product-info .description .price .currency {
  font-size: 0.5em;
  padding: 0 0.3em;
}
.product-info .description .properties tr td:first-child {
  text-align: right;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
  color: #63635e;
}
.product-info .description .properties tr td:last-child {
  text-align: left;
  padding: 5px;
  color: #df583e;
  font-weight: bold;
  font-style: italic;
}
.product-info .description .description-content {
  padding-top: 2em;
}
.btn {
  font-family: 'globerthin_free';
}
.error-info {
  background: #ffffff url('../images/404.jpg') no-repeat -145px center;
}
.error-info .description {
  padding: 5em 7em;
  min-height: 10em;
  font-weight: normal;
}
.error-info .description .message_title {
  font-size: 4em;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}
.error-info .description .message p {
  color: #fff;
  margin-bottom: 2em;
}
.error-info .description .message p a {
  color: #f8ea17;
}
@media (min-width: 768px) and (max-width: 992px) {
  .error-info .description {
    padding: 2em 3em;
  }
}
.category-title {
  font-family: Georgia, Verdana, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 5em;
  position: relative;
  margin: 2em 0;
}
.category-title .category-close {
  display: inline-block;
  width: 44px;
  height: 44px;
  background: transparent url('../images/close_category.png') no-repeat center center;
  position: relative;
  text-indent: -9999px;
  margin: 0 0 0 30px;
  top: -30px;
}
#pager {
  display: none;
}
#infscr-loading {
  text-align: center;
}
.order-header {
  padding-top: 5em;
}
.order-content table {
  width: 100%;
}
.order-content {
  padding: 2em 0;
}
.order-content table tr.last td {
  font-family: 'adamant_sans_bgregular';
  border-bottom: 0;
  font-size: 1.2em;
}
.order-content table td {
  padding: 0.5em;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}
.order-content table td.price em {
  font-weight: normal;
  font-style: normal;
}
.order-content table td.price span {
  padding: 5px;
}
.order-form {
  width: 100%;
}
.order-form input[type="text"],
.order-form input[type="email"],
.order-form textarea {
  width: 95%;
  margin: 1em;
  line-height: 2em;
  padding: 0.5em;
  border: 1px dotted #c5c5bb;
}
.order-form input[type="text"]:focus,
.order-form input[type="email"]:focus,
.order-form textarea:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.order-form .error {
  display: block;
  width: 95%;
  color: #df583e;
  margin: 0 1.5em 1em 1.5em;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */

  position: relative;
  z-index: 1;
  margin-bottom: 1em;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */

  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
#product-image-slider {
  position: relative;
  height: auto;
}
#product-image-slider li {
  text-align: center;
}
#product-image-slider #scroller {
  position: relative;
  z-index: 1;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.js-settle-order {
  margin-bottom: 80px;
}

#main-owl-carousel {
  white-space: nowrap;
  overflow-x: hidden;
}

#bootloader {
  position: fixed;
  display: none;
  background-image: url('../images/preload.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(255, 255, 255, .9);
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 222222;
}

.vmiddle > img {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .category-title {
    font-size: 3em;
  }
}







#view_detailed {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#view_photos {
  width: 50%;
  height: 100%;
  overflow-y: hidden;
  text-align: center;
  float: left;
}

#view_photos > img {
  max-width: 100%;
}

#view_description {
  overflow-y: scroll;
  width: 50%;
  height: 100%;
  float: right;
  padding: 3em;
  min-height: 10em;
  font-weight: normal;
  padding-bottom: 80px;
  background-color: yellow;
}
#view_description .name {
  font-size: 5em;
  text-transform: uppercase;
  word-break: break-all;
  width: 100%;
}
#view_description .price {
  font-family: 'adamant_sans_bgregular';
  font-weight: bold;
  font-size: 4em;
}
#view_description .price .currency {
  font-size: 0.5em;
  padding: 0 0.3em;
}
#view_description .properties tr td:first-child {
  text-align: right;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
  color: #63635e;
}
#view_description .properties tr td:last-child {
  text-align: left;
  padding: 5px;
  color: #df583e;
  font-weight: bold;
  font-style: italic;
}
#view_description .description-content {
  padding-top: 2em;
  padding-bottom: 4em;
}


@media (max-width: 768px) {
  .header-phone {
    display: none;
  }

  #view_detailed {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  #view_photos {
    width: 100%;
    height: auto;
    overflow-y: visible;
    text-align: center;
    float: left;
  }

  #view_description {
    overflow-y: visible;
    width: 100%;
    height: auto;
    float: right;
    padding: 3em;
    min-height: 10em;
    font-weight: normal;
    padding-bottom: 80px;
    background-color: yellow;
  }
  #view_description .name {
    font-size: 5em;
    text-transform: uppercase;
    word-break: break-all;
    width: 100%;
  }
  #view_description .price {
    font-family: 'adamant_sans_bgregular';
    font-weight: bold;
    font-size: 4em;
  }
  #view_description .price .currency {
    font-size: 0.5em;
    padding: 0 0.3em;
  }
  #view_description .properties tr td:first-child {
    text-align: right;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    color: #63635e;
  }
  #view_description .properties tr td:last-child {
    text-align: left;
    padding: 5px;
    color: #df583e;
    font-weight: bold;
    font-style: italic;
  }
  #view_description .description-content {
    padding-top: 2em;
  }
}

.cart-view {
  padding-left: 10%;
  padding-right: 10%;
}

#main-content {
  padding-bottom: 150px;
}

@media (max-width: 768px) {
  #main-content {
    padding-bottom: 280px;
  }
}